<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <script src="http://connect.facebook.net/en_US/all.js"></script>
    <a href="#" class="brand">blog</a>
    <ul class="nav pull-right">
      <li><a id="new_post" ng-click="navNewPost()">new post</a></li>
    </ul>
  </div>
</div>

<div class="container" style="margin-top: 40px">
  <h1 class="text-center">Posts</h1>
  <div class="row" ng-repeat="post in data.posts">
    <h2><a id={{post.title}} ng-click="viewPost(post.id)">{{post.title}}</a></h2>
    <p>{{post.contents}}</p>
  </div>
</div>