<!DOCTYPE html>
<html ng-app="Blog">
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application", controller_name %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="fb-root"></div>
  <script src="http://connect.facebook.net/en_US/all.js"></script>
  <script>
     FB.init({ 
        appId:'218269575036918', cookie:true, 
        status:true, xfbml:true 
     });
  </script>
  <fb:login-button>Login with Facebook</fb:login-button>
<%= yield %>

</body>
</html>
